<!DOCTYPE html>
<html>
  <head>
    <title>Homepage</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 style="color: white">List of games</h1>
    <ul style="color: white">
      <li><a href="/elite">Elite Dangerous</a></li>
      <li><a href="/discord">Discord</a></li>
    </ul>
  </body>
</html>
